@import "tailwindcss";
@plugin './hero.ts';
@plugin "@tailwindcss/typography";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --heroui-primary: 148 100% 25%;

  /* Lighter Shades */
  --heroui-primary-50: 148 100% 90%;
  --heroui-primary-100: 148 100% 80%;
  --heroui-primary-200: 148 100% 70%;
  --heroui-primary-300: 148 100% 60%;
  --heroui-primary-400: 148 100% 45%;

  /* Base */
  --heroui-primary-500: 148 100% 25%;

  /* Darker Shades */
  --heroui-primary-600: 148 100% 20%;
  --heroui-primary-700: 148 100% 15%;
  --heroui-primary-800: 148 100% 10%;
  --heroui-primary-900: 148 100% 7%;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
